[Unit]
Description=Mount share red1 from Odin

[Mount]
What=//odin.manul.lan/red1
Where=/mnt/red1
Options=credentials=/etc/samba/credentials/red1,rw,uid=1000,gid=1000
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target


