[Unit]
Description=Nginx container

[Container]
Image=nginx
PublishPort=8080:80
Volume=%h/nginx/html:/usr/share/nginx/html:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
